DEBUG=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
LINKED_EVENTS_API_ROOT=linked-event-api-url
LINKED_EVENTS_API_KEY=linked-event-api-key
LINKED_EVENTS_DATA_SOURCE=add-your-linked-event-data-source
KEYWORD_SET_CATEGORY_ID=qq:kultus:categories
KEYWORD_SET_ADDITIONAL_CRITERIA_ID=qq:kultus:additional_criteria
KEYWORD_SET_TARGET_GROUP_ID=qq:kultus:target_groups
SERVICEMAP_API_ROOT=https://api.hel.fi/servicemap/v2/unit/
BUILD_INFO_RELEASE=dev-local
