[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==7.0.0"
asgiref = "==3.4.1"
authlib = "==0.15.4"
cachetools = "==4.2.2"
certifi = "==2021.5.30"
cffi = "==1.14.6"
chardet = "==3.0.4"
cryptography = "==3.4.7"
defusedxml = "==0.7.1"
deprecation = "==2.1.0"
django = "==3.2.13"
django-admin-list-filter-dropdown = "==1.0.3"
django-anymail = "==7.0.0"
django-appconf = "==1.0.4"
django-axes = "==5.3.1"
django-cors-headers = "==3.7.0"
django-environ = "==0.4.5"
django-filter = "==2.4.0"
django-graphql-jwt = "==0.2.2"
django-helusers = "==0.7.0"
django-ipware = "==2.1.0"
django-mailer = "==2.0"
django-parler = "==2.2"
django-utils-six = "==2.0"
djangorestframework = "==3.12.4"
drf-oidc-auth = "==2.0.0"
ecdsa = "==0.13.3"
factory-boy = "==2.12.0"
faker = "==2.0.4"
future = "==0.17.1"
geographiclib = "==1.52"
geopy = "==2.2.0"
graphene = "==2.1.8"
graphene-django = "==2.15.0"
graphene-file-upload = "==1.2.2"
graphql-core = "==2.2.1"
graphql-relay = "==2.0.0"
idna = "==2.8"
importlib-metadata = "==4.6.1"
jinja2 = "==2.11.3"
lockfile = "==0.12.2"
markupsafe = "==1.1.1"
oauthlib = "==3.1.1"
promise = "==2.2.1"
psycopg2-binary = "==2.8.6"
pyasn1 = "==0.4.7"
pycparser = "==2.20"
pyjwt = "==2.1.0"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
python-jose = "==3.0.1"
python3-openid = "==3.2.0"
pytz = "==2019.3"
requests = "==2.22.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.7"
rx = "==1.6.1"
sentry-sdk = "==0.12.3"
singledispatch = "==3.4.0.3"
six = "==1.12.0"
social-auth-app-django = "==5.0.0"
social-auth-core = "==4.1.0"
sqlparse = "==0.3.0"
text-unidecode = "==1.3"
typing-extensions = "==4.0.1"
urllib3 = "==1.25.11"
zipp = "==3.5.0"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-ilmoitin]
extras = [ "graphql-api",]
version = "==0.6.0"
