Django~=4.2.16
django-admin-list-filter-dropdown
django-cors-headers
django-environ
django-graphql-jwt
django-helusers
django-ilmoitin
django-filter
django-axes
factory-boy
geopy
graphene-django
graphene-file-upload
psycopg2-binary
requests
sentry-sdk
importlib_metadata
django-utils-six
drf-oidc-auth
social-auth-app-django
certifi
urllib3
helsinki-profile-gdpr-api
pytz