certifi
django-admin-list-filter-dropdown
django-axes
django-cors-headers
django-csp
django-environ
django-filter
django-graphql-jwt
django-health-check
django-helusers
django-ilmoitin
django-utils-six
Django~=4.2.16
drf-oidc-auth
factory-boy
geopy
graphene-django
graphene-file-upload
helsinki-profile-gdpr-api
importlib_metadata
psycopg2-binary
requests
sentry-sdk
social-auth-app-django
urllib3