Django~=5.2
certifi
django-admin-list-filter-dropdown
django-auditlog
django-auditlog-extra@https://github.com/City-of-Helsinki/django-auditlog-extra/archive/bff5fa3921d6821bebdd6be6c9fd20db39d32d54.zip
django-axes
django-cors-headers
django-csp
django-environ
django-filter
django-graphql-jwt
django-health-check
django-helusers
django-ilmoitin
django-logger-extra
django-parler
django-utils-six
drf-spectacular
factory-boy
geopy
graphene-django
graphene-file-upload
helsinki-profile-gdpr-api
importlib_metadata
ipython
psycopg[c]
requests
sentry-sdk
social-auth-app-django
urllib3
uwsgi
uwsgitop
