Hei. Ilmoittautuminen hyväksytty tapahtumaan {{trans(event.name)}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. Ryhmä {{ study_group.name }} {{study_group.group_size}} hlö. {{trans(event.location.name)}}, {{trans(event.location.street_address)}}. Lisätietoja: {{occurrence.p_event.contact_email}}