Kom ihåg din anmälan till evenemanget {{trans(event.name)}}. {{occurrence.local_start_time.strftime('%d.%m.%Y kl %H.%M')}}. {{study_group.name}}. Om du inte kan delta, vänligen avboka din bokning via e-post: {{occurrence.p_event.contact_email}}.
