Please remember your enrolment for {{trans(event.name)}}. {{occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. {{study_group.name}}. If you are unable to attend, please cancel your place by email: {{occurrence.p_event.contact_email}}.
