Muistathan ilmoittautumisesi tapahtumaan {{trans(event.name)}}. {{occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. {{study_group.unit_name}}. Mikäli et pääse paikalle, peruutathan varauksesi sähköpostilla: {{occurrence.p_event.contact_email}}.
