Hei. Peruutuksenne tapahtumaan {{event.name.fi}} on vahvistettu. {{ occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. {{ event.location.name.fi}}, {{ event.location.street_address.fi}}. Lisätietoja: {{occurrence.p_event.contact_email}}

Hej. Avbokningen av anmälan till evenemanget {{event.name.sv if event.name.sv is defined else event.name.fi}} har bekräftats. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. {{ event.location.name.sv if event.location.name.sv is defined else event.location.name.fi}}, {{ event.location.street_address.sv if event.location.street_address.sv is defined else event.location.street_address.fi}}. Mer information: {{occurrence.p_event.contact_email}}

Hi. Your cancellation to the event {{event.name.en if event.name.en is defined else event.name.fi}} is confirmed. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. {{ event.location.name.en if event.location.name.en is defined else event.location.name.fi}}, {{ event.location.street_address.en if event.location.street_address.en is defined else event.location.street_address.fi}}. Info: {{occurrence.p_event.contact_email}}