Hei. Peruutuksenne tapahtumaan {{trans(event.name)}} on vahvistettu. {{ occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. {{trans(event.location.name)}}, {{trans(event.location.street_address)}}. Lisätietoja: {{occurrence.p_event.contact_email}}

Hej. Avbokningen av anmälan till evenemanget {{trans(event.name)}} har bekräftats. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. {{trans(event.location.name)}}, {{trans(event.location.street_address)}}. Mer information: {{occurrence.p_event.contact_email}}

Hi. Your cancellation to the event {{trans(event.name)}} is confirmed. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. {{trans(event.location.name)}}, {{trans(event.location.street_address)}}. Info: {{occurrence.p_event.contact_email}}