Hei. Ilmoittautuminen hyväksytty tapahtumaan {{trans(event.name)}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. Ryhmä {{ study_group.name }} {{study_group.group_size}} hlö. {{trans(event.location.name)}}, {{eventlocation.street_address}}. Lisätietoja: {{occurrence.p_event.contact_email}}

Hej. Din anmälan till evenemanget {{trans(event.name)}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}} Grupp {{ study_group.name }} {{study_group.group_size}} personer. {{trans(event.location.name)}}, {{eventlocation.street_address}}. Mer information: {{occurrence.p_event.contact_email}}

Enrolment accepted for the event {{trans(event.name)}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. Group {{ study_group.name }} {{study_group.group_size}} ppl. {{trans(event.location.name)}}, {{eventlocation.street_address}}. Info: {{occurrence.p_event.contact_email}}