Hei. Viesti vastaanotettu tapahtumaan {{event.name.fi}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y klo %H.%M')}}. Ryhmä {{ study_group.name }} {{study_group.group_size}} hlö. {{ event.location.name.fi}}, {{ event.location.street_address.fi}}. Lisätietoja: {{occurrence.p_event.contact_email}}

Hej. Meddelandet är mottaget. Du får ännu en separat bekräftelse för deltagandet i evenemanget {{event.name.sv if event.name.sv is defined else event.name.fi}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y kl %H.%M')}} Grupp {{ study_group.name }} {{study_group.group_size}} personer. {{ event.location.name.sv if event.location.name.sv is defined else event.location.name.fi}}, {{ event.location.street_address.sv if event.location.street_address.sv is defined else event.location.street_address.fi}}. Mer information: {{occurrence.p_event.contact_email}}

Message received. We will send you a confirmation for the event {{event.name.en if event.name.en is defined else event.name.fi}}. {{ occurrence.local_start_time.strftime('%d.%m.%Y at %H.%M')}}. Group {{ study_group.name }} {{study_group.group_size}} ppl. {{ event.location.name.en if event.location.name.en is defined else event.location.name.fi}}, {{ event.location.street_address.en if event.location.street_address.en is defined else event.location.street_address.fi}}. Info: {{occurrence.p_event.contact_email}}