<p>Dear Kultus Admin!</p>
<p>A new Kultus provider user profile is created!</p>
<address>
    {{person.name}}<br />
    <a href="mailto:{{person.email_address}}">{{person.email_address}}</a><br />
    Username: {{person.user.username}}
</address>
<p>
    The provider who created the user profile needs an admin (you) to accept the
    user profile:
</p>
<ol>
    <li>Create the missing organisations to LinkedEvents</li>
    <li>Create the missing organisations to Kultus</li>
    <li>Link the user to organisations</li>
    <li>
        Set the staff -flag so the user would receive the permissions to create and
        edit their events.
    </li>
</ol>
<p>The user would like to represent these organisations:</p>
<ul>
    {% for organisation in person.organisationproposal_set.all() %}
    <li>{{organisation.name}}</li>
    {% endfor %}
</ul>
<p>
    To edit the newly created user profile, click
    <a href="{{user_change_form_url}}" target="_blank">here</a>!
</p>
<p>
    To see a full list of users, click
    <a href="{{user_list_url}}" target="_blank">here</a>.
</p>